<html>
<body>
<div>
	{% if parent.is_some() %}<a href="/browse/{{parent.as_ref().unwrap()}}">[..]</a>{% endif %}
	<a href="/browse/">[Root]</a>/{{ dirname }}
</div>
<div>
	<table>
		<tr>
			<th>Name</th>
			<th>Size</th>
			<th>Children Count</th>
			<th>Creation Time</th>
		</tr>
		{% for entry in entries %}
		<tr>
			{% if entry.is_dir() %}
				{% let entry = entry.as_dir() %}
				<td><a href="{{entry.name}}/"><strong>{{ entry.name }}</strong></a></td>
			{% else %}
				<td>{{ entry.as_file().name }}</td>
			{% endif %}
			<td>{{ entry.size_str() }}</td>
			{% if entry.is_dir() %}
				{% let entry = entry.as_dir() %}
				<td>{{ entry.children_count() }}</td>
			{% else %}
				<td>-</td>
			{% endif %}
			<td>{{ entry.created() }}</td>
		</tr>
		{% endfor %}
	</table>
</div>
</body>
</html>
